@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-text">
                    <h1>about us</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="about_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about_text">
                    <p>
                        At Nanak Car Services, we offer range of services from car wash to various services in auto care and car detailing. We are providers of not only quality full care car services but also we are proud that we use products that are Green Certified for services we provide.

                        We strongly believe in contributing towards protecting our environment and make conscious efforts to try and use reclaimed water conserve energy and prevent pollution by recycling as much as possible at our location. We are providers of best quality care all needed and required to keep your car looking great at a fair price.

                        Our commitment towards providing quality care is reflected by our affordable fair prices, whether its a car wash or complete auto detailing. Our car wash facility has 115 feet long state of the art crash wash cabin. The facility is very well equipped compared to most of the car wash centers. Our car washing systems use laboratory tested and approved soft cleaning cloth s water s
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about_text">
                    <img src="/images/car.png" />

                </div>
            </div>
        </div>
    </div>
</div>
<div class="about_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="about_text1">

                    <p>
                        praying and air dryer systems that not only thoroughly cleans your car but also makes sure no damages are caused to car surfaces due to chemicals air, heat or scratches.
                        Our express car wash services clean and tackles tough areas such as rocker panels wheel covers and tires. Once the car is washed, it is air dried and made sure that it is thoroughly wiped with high quality softest lint free cloth material.

                        We also believe in giving great customer service experience hence we have staff to make your experience smooth efficient and easy. Customer can pay directly through our drive in and out service saving the hassle to get out of the car to purchase tickets or payments. You will always find an attendant to make sure customers get the help they need and to answer questions with regards to services provided.

                        We also provide packages and special promotions and discounts for returning customers through our reward programs and individual and customized packages with free services to be earned. We like to provide our customers to have Get in quick, Get clean and get out quick as customer satisfaction is a priority for us at Nanak s.

                        If you have questions we can be contacted at 647-703-8515 and our team will be there at your service and answer any questions you may have.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact_link">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="contact_text">
                    <h2>CAR WASH AND CAR CLEANING</h2>
                </div>
            </div>
            <div class="col-md-3">
                <div class="contact_btn">

                    <a href="contact.html" class="btn btn-primary">Contact Us </a>
                </div>
            </div>

        </div>
    </div>
</div>

