
@{
    ViewBag.Title = "Car_Wash_packages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-text">
                    <h1>
                        Car Wash packages
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="details_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="details_text2">
                    <h3>

                        <span>Limited Time Offer :</span> Express wash only for <span>$4.99 </span> when you  <span>BUY 4 </span>
                    </h3>
                </div>


            </div>
        </div>
    </div>

</div>



<div class="details_sec2">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="Detailing" data-aos="fade-right" data-aos-duration="1500">
                    <h3> Diamond Shine In & Out </h3>
                    <ul>
                        <li>Best Ultimate Wash</li>
                        <li>Hand Dry & Vacuum Seats & Carpet</li>

                        <li>Plastic Matts Power Washed</li>

                        <li>Thorough Cleaning Doors, Panels and </br>Consoles</li>

                        <li>Tires Dressing</li>

                        <li>Plastic Protection for dashboard and Side Panels</li>


                        <li>Van / SUVs Extra</li>


                    </ul>
                    <p>Price: $80 </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="Detailing2" data-aos="fade-up" data-aos-duration="1500">
                    <h3> Super Clean In & Out</h3>
                    <ul>
                        <li>Shine and Protect Wash</li>
                        <li>Hand Dry & Vacuum Seats</li>

                        <li>Plastic Matts Power Washed</li>

                        <li>Thorough Cleaning Doors, Panels and <br />Consoles</li>

                        <li>Tires Dressing</li>

                        @*<li>30 Days FREEPass</li>

                        <li>Basic In & Out Special Price $28</li>*@

                        <li>Van / SUVs Extra</li>
                        @*<li>Time Required 2 to 4 hrs</li>*@



                    </ul>
                    <p>
                        Special Price: $30</br>
                        Regular Price: $40
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="Detailing" data-aos="fade-left" data-aos-duration="1500">
                    <h3> VIP In & Out </h3>
                    <ul>
                        <li>Best Ultimate Wash</li>
                        <li>Hand Dry & Vacuum Seat</li>

                        <li>Plastic Matts Power Washed</li>

                        <li>Thorough Cleaning Doors, Panels and </br>Consoles</li>

                        <li>Clean Windows and Dashboard</li>

                        <li>Tires Dressing</li>

                        <li>
                            Plastic Protection for dashboard and Side Panels
                        </li>

                        <li>Van / SUVs Extra</li>


                    </ul>
                    <p>Special Price: $50</p>
                </div>
            </div>


        </div>
    </div>
</div>




<div class="body_Wash">

    <div class="details_sec2">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="Detailing" data-aos="fade-right" data-aos-duration="1500">
                        <h3>
                            Shine & Protect Wash</br>
                            Exterior Wash
                        </h3>
                        <ul>
                            <li>Under Body Wash</li>
                            <li>Hot Wax</li>

                            <li>Triple Foam Wax</li>

                            <li>Double Drying Power</li>

                            <li>Sealer Wax</li>

                            @*<li>Expiry: 30 Days</li>*@




                        </ul>
                        <p>Special Price: 1 For $14</p>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-0">
                    <div class="bodywash" data-aos="fade-left" data-aos-duration="1500">
                        <h2>
                            Express Wash</br>
                            <span>Exterior Wash</span>
                        </h2>

                        <img src="/images/bodywash.png" />

                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="contact_link">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="contact_text">
                        <h2>CAR WASH AND CAR CLEANING</h2>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="contact_btn">

                        <a href="contact.html" class="btn btn-primary">Contact Us </a>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <footer>
        <div class="container">
        </div>
        @*<div class="col-md-12">
            <div class="bottom_text">
                <p>Copyright 2019 Nanak Car Wash - Brampton  Etobicoke & North York Canada </br><span>Site maintained by:<a href="http://only4agents.com/"> Only4Agents</a><span></p>
            </div>
        </div>*@
</div>

