
@{
    ViewBag.Title = "details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-text">
                    <h1>
                        Detailing
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="details_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="details_text">
                    <h3>No Appointment Required. First Come First Serve. Below Car Detailing Packages Only at 6600 Finch Ave W Etobicoke M9V3Z6 Location. Orders Taken Till 2 PM</h3>
                </div>


            </div>
        </div>
    </div>

</div>



<div class="details_sec2">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="Detailing_img">
                    <img src="/images/logo.png" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="Detailing">
                    <h3> Express Detailing </h3>
                    <ul>
                        <li>Limited Time Special</li>
                        <li>Shampoo the Carpet and Carpet Matts</li>

                        <li>Clean Side Panels and Doors</li>

                        <li>Clean and Shampoo Rubber and Carpeted Floor mats</li>

                        <li>Clean Windows and Dashboard</li>

                        <li>1 Free Exterior Wash</li>

                        <li>1 Free Exterior Wash</li>

                        <li>Time Required 1 to 2 hrs</li>


                    </ul>
                    <p>Price Starts From $69.99</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="Detailing2">
                    <h3> Full Car Detailing </h3>
                    <ul>
                        <li>Clean Doorjambs and Locks/Hinges</li>
                        <li>Blow Out all Vents, Crevices and Dashboard Gauges</li>

                        <li>Shampoo Seats and Carpets</li>

                        <li>Clean and Shampoo Rubber and Carpeted Floor mats</li>

                        <li>Leather Deep Cleaned</li>

                        <li>Complete Vacuuming of Interior and Trunk</li>

                        <li>Shampoo and Detail Trunk including Jambs</li>

                        <li>Clean and Polish Glass Inside and Out</li>
                        <li>Time Required 2 to 4 hrs</li>



                    </ul>
                    <p>Price Starts From $90</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="line">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>Price subject to change without any prior notice. $30 extra for express detailing and $40 extra for full detailing for 7 seats vehicle. Extra dirty vehicle will be charged more.</p>

            </div>
        </div>
    </div>
</div>
<div class="contact_link">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="contact_text">
                    <h2>CAR WASH AND CAR CLEANING</h2>
                </div>
            </div>
            <div class="col-md-3">
                <div class="contact_btn">

                    <a href="contact.html" class="btn btn-primary">Contact Us </a>
                </div>
            </div>

        </div>
    </div>
</div>


