
@{
    ViewBag.Title = "faqs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-text">
                    <h1>Faqs</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="faqs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="faqHeader">Faqs</div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Q: Do I need appointment for quick interior and exterior? </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>A: For quick interior/exterior does not need an appointment.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Q: How often does my car need to be cleaned,inside and out? </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>A: Weekly full service car washes go beyond simply cleaning your car s exterior. It is an in-depth process that completely rejuvenates the paint, carpets and seat surfaces of your car.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Q: How much time will a full service car wash take? </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>A:Our trained employees take approximately 15 minutes for a full service car wash.</p>
                            <br />
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Q: Does Nanak Car Wash want to hear me complain or compliment? </a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>A: Yes Without your complaints we can t improve.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Q: What is the largest tire size your washes can Handle? </a>
                        </h4>
                    </div>
                    <div id="collapseEight" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>A: Width: 275 mm</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Q: Can i use my coupans or card to wash my other vehicle once in a while? </a>
                        </h4>
                    </div>
                    <div id="collapseNine" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>A: Yes, you can do that.</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<div class="contact_link">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="contact_text">
                    <h2>CAR WASH AND CAR CLEANING</h2>
                </div>
            </div>
            <div class="col-md-3">
                <div class="contact_btn">

                    <a href="contact.html" class="btn btn-primary">Contact Us </a>
                </div>
            </div>

        </div>
    </div>
</div>


