
@{
    ViewBag.Title = "hot_sale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-text">
                    <h1>Hot Sale of Week</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hot_sale">
    <div class="container">

        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <div class="price_box5" data-aos="fade-up" data-aos-duration="1500">
                    <h2>4 shine & Protect </h2>
                    <h3>Washes $25</h3>



                </div>
            </div>

            <div class="col-md-4 col-md-offset-0">
                <div class="price_box6" data-aos="fade-up" data-aos-duration="1500">
                    <h2>
                        4 Basic
                    </h2><h3>Washes $20</h3>


                </div>
            </div>
        </div>
    </div>


    <div class="Wash">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="wash_info">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                    </span> Express Wash For Only <span>$4.99 </span>When You Buy 4
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                    Full In Out From<span> $28.00</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="contact_link2">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="contact_text">
                    <h2>CAR WASH AND CAR CLEANING</h2>
                </div>
            </div>
            <div class="col-md-3">
                <div class="contact_btn">

                    <a href="contact.html" class="btn btn-primary">Contact Us </a>
                </div>
            </div>

        </div>
    </div>
</div>


