@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="demo1">
    <div class="slide">
        <img src="/images/1.jpg" />
        <!--Slider Description example-->
        <div class="slide-desc">

            <p data-aos="fade-up" data-aos-duration="1500">Reliable, Fast, Friendly Car Wash </br>Service in Brampton, Etobicoke & North York, Toronto</p>
            <h2 data-animation="animated zoomInLeft">Express Wash For Only <span>$4.99 If You Buy 4</span></h2>
        </div>
    </div>
    <div class="slide">
        <img src="/images/2.jpg" />
        <div class="slide-desc">

            <p>Reliable, Fast, Friendly Car Wash </br>Service in Brampton, Etobicoke & North York, Toronto</p>
            <h2>Express Wash For Only <span>$4.99 If You Buy 4</span></h2>
        </div>
    </div>
    <div class="slide">
        <img src="/images/3.jpg" />
        <div class="slide-desc">

            <p>Reliable, Fast, Friendly Car Wash </br>Service in Brampton, Etobicoke & North York, Toronto</p>
            <h2>Express Wash For Only <span>$4.99 If You Buy 4</span></h2>
        </div>
    </div>

</div>
<!--------SLIDER_END--------->

<div class="mein_hd">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="mein_text" data-aos="fade-up" data-aos-duration="1500">
                    <h1><span>Hot Deal</span> Get 3 Month Pass For $90</h1>
                    @*<img src="/images/free.png" class="set" />*@
                    <h2>
                        <span>Deal of Week</span> Express Car Wash For <span><img src="/images/price_1.png" /></span>
                        If You Buy 4
                    </h2>
                </div>
            </div>
        </div>
    </div>



</div>



<div class="super_clean">
    <div class="container">
        <div class="super_text" data-aos="fade-Right" data-aos-duration="1500">
            <h1>Super Clean In & Out</h1>
            <p>
                Shine and Protect Car Wash - Hand Dry - Vacuum Seats - Plastic </br>
                Matts Power Washed...
            </p>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <div class="price_box3" data-aos="fade-up" data-aos-duration="1500">
                    <h2>Special </h2>
                    <h3>Price: $30 </h3>
                    <h5>Regular Price $40</h5>


                </div>
            </div>

            <div class="col-md-4 col-md-offset-0">
                <div class="price_box4" data-aos="fade-up" data-aos-duration="1500">
                    <h2>Basic In & Out <br /> Special <span>Price $28 </span></h2>
                    @*<h5>Regular Price $30</h5>*@

                </div>
            </div>
        </div>
    </div>
</div>


<div class="Car Wash">
    <div class="container">

        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-0">
                    <div class="wash_text" data-aos="fade-right" data-aos-duration="1500">
                        <h2>Shine & Protect Car Wash</h2>
                        <p>
                            Under Body Wash - Hot Wax Triple Foam
                            Wax - Sealer Wax
                        </p>
                        <img src="/images/img_1.jpg" />
                        <h5>1 For $14</h5>

                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <div class="wash_text2" data-aos="fade-left" data-aos-duration="1500">
                        <h2>Express Car Wash</h2>
                        @*<p>
                            Under Body Wash - Hot Wax Triple Foam
                            Wax - Sealer Wax
                        </p>*@
                        <img src="/images/img_2.jpg" />
                        <h5>1 For $4.99 If You Buy 4</h5>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>